In [32]:
print("Answer no 1 :")
print("Twinkle, twinkle, little star, \n        How I wonder what you are! \n              Up above the world so high,      \n              Like a diamond in the sky, \n Twinkle, twinkle, little star, \n        How I wonder what you are" );

Answer no 1 :
Twinkle, twinkle, little star,
        How I wonder what you are!
              Up above the world so high,
              Like a diamond in the sky,
 Twinkle, twinkle, little star,
        How I wonder what you are

In [33]:
import sys
print("Answer no 2 :")
print("Python version : "+ sys.version)

Answer no 2 :
Python version : 3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]

In [36]:
import datetime
print("Answer no 3 :");
print(datetime.datetime.now());

Answer no 3 :
2021-10-23 22:37:34.156089

In [45]:
from math import pi;
print("Answer no 4 : ");
Cradius = float(input("Enter the value radius of circle : "));
calculateArea = pi * Cradius**2;
print("The Area of circle is "+ str(calculateArea));

Answer no 4 :
Enter the value radius of circle : 5
The Area of circle is 78.53981633974483

In [48]:
print("Answer no 5 :")
firstname = input("Enter your first name : ");
lastname = input("Enter your last name : ");
print("First & Last name reverse order is "+lastname+ " " + firstname);

Answer no 5 :
Enter your first name : Talha
Enter your last name : bin ali
First & Last name reverse order is bin ali Talha

In [53]:
print("Answer no 6 :");
num1 = int(input("Enter the First value : "));
num2 = int(input("Enter the Second value : "));
total = num1+num2;
print("the number addition is " + str(total));

Answer no 6 :
Enter the First value : 22
Enter the Second value : 22
the number addition is 44

In [72]:
print("Answer No 7 : ");
math = int(input("Enter your Math Marks : "));
english = int(input("Enter your English Marks : "));
islamiyat = int(input("Enter your Islamiyat Marks : "));
urdu = int(input("Enter your Urdu Marks : "));
physic = int(input("Enter your Physics Marks : "));
total = math+english+islamiyat+urdu+physic;
per = total/500*100;
print("Total Marks : "+str(total));
print("Percentage : "+str(per));
if per == 100 or per >= 80 :
    print("Grade : A1");
elif per == 79 or per >= 70:
    print("Grade : A");
elif per == 69 or per >= 60:
    print("Grade : B");
elif per == 59 or per >= 45:
    print("Grade : C");
elif per == 44 or per >= 30:
    print("Grade : D");
else:
    print("fail");

Answer No 7 :
Enter your Math Marks : 33
Enter your English Marks : 33
Enter your Islamiyat Marks : 33
Enter your Urdu Marks : 33
Enter your Physics Marks : 33
Total Marks : 165
Percentage : 33.0
Grade : D

In [74]:
print("Answer no 8 :");
user = int(input("Enter the value : "));
if (user%2) == 0 :
    print(str(user)+" "+ "is even number")
else:
    print(str(user)+" "+ "is odd number")

Answer no 8 :
Enter the value : 2
2 is even number

In [10]:
print("Answer no 9 :");
a = ["talha","osama","huzaifa","asif"];
b = str(len(a));
print("List lenght is : "+ b );

Answer no 9 :
List lenght is : 4

In [15]:
print("Answer no 10 :")
a = [22,3,4,20];
b = a[0]+a[1]+a[2]+a[3];
print("List all numberic number is sum reault is : "+ str(b));

Answer no 10 :
List all numberic number is sum reault is : 49

In [18]:
print("Answer no 11 :")
numberlist = [22,55,100,500,44,2,33,1,0];
largestnumber = max(numberlist);
print("List Largest number is " + str(largestnumber));

Answer no 11 :
List Largest number is 500

In [31]:
print("Answer no 12 :");
number = [1,1,2,3,5,8,13,21,34,55,89];
for a in number:
    if a < 5:
        print(a)

Answer no 12 :
1
1
2
3